{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}
{% assign plans = page.plans %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_text or feature_image %}
<!--  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>-->
  <main class="main  container">
    
    <div class="home-tiles">
  
      <article class="article  article--page  typeset">
  
        {% if paginator.posts %}
          {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
          <h1>{{ collectiondata.title }}</h1>
          {{ collectiondata.description | markdownify }}
  
        {% else %}
          <h1>{{ page.title }}</h1>
          {{ content }}
          
        {% endif %}
  
      </article>
  
      {% include post-list.html %}
  
    </div>
  
    {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  
  </main>
{% endif %}
